/* CSS reset */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

/* Actual CSS starts here */
/* Initial */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-weight: 400; */
}

/* Main CSS */
*{
    /* outline:1px solid red; */
}

html{
    height: 100%;
}

body{
    display:grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
    "nav header "
    "nav body"
    "nav body"
    "nav body";
    height: 100%;
}

.nav{
    grid-area: nav;
    background-color: rgb(12, 56, 117);
    position: fixed;
    height: 100%;
    width: 250px;
    color: white;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr repeat(3, 1fr) 3fr repeat(2, 1fr);
    align-items: center;
    box-shadow: 4px 0 5px rgb(0, 0, 0, 0.3);
    z-index: 20;
}

.nav > .img{
  grid-column-start: 1;
  filter: brightness(0) invert(1);
  width: 25px;
  height: 25px;
  justify-self: center
}

.nav > .text{
  grid-column-start: 2;
}

.logo{
  transition: all 0.2s ease;
  transform-origin: left center;
}

.task, .hist, .comm, .supp, .priv {
  transition: transform 0.2s ease;
  transform-origin: left center;
}

.logo.img{
  grid-row-start: 1;
  background-image: url('assets/nav/palette-swatch-variant.svg');
  width: 55px;
  height: 55px;
}

.hovered {
  transform: scale(1.2);
  cursor: pointer;
  /* background-color: #f0f0f0; */
}

.highlight{
  /* background-color: #00497a; */
  transform: scale(1.1);
  cursor: pointer;
}


.task.img{
  grid-row-start: 3;
  background-image: url('assets/nav/file-multiple.svg');
}

.task.text{
  grid-row-start: 3;
}

.hist.img{
  grid-row-start: 4;
  background-image: url('assets/nav/clock.svg');
}

.hist.text{
  grid-row-start: 4;
}

.comm.img{
  grid-row-start: 5;
  background-image: url('assets/nav/account-group.svg');
}

.comm.text{
  grid-row-start: 5;
}

.supp.img{
  grid-row-start: 7;
  background-image: url('assets/nav/help-box.svg');
}

.supp.text{
  grid-row-start: 7;
}

.priv.img{
  grid-row-start: 8;
  background-image: url('assets/nav/shield-check.svg');
}

.priv.text{
  grid-row-start: 8;
}

.header{
    grid-area: header;
    display: grid;
    grid: repeat(2, 1fr) / 1fr 1fr;
    align-items: center;
    background-color: white;
    height: 160px;
    width: auto;
    padding: 1rem 2rem;
    box-shadow: 0 4px 5px rgb(0, 0, 0, 0.2);
    z-index: 10;
}

.search-bar{
  display: grid;
  align-items: center;
}

.search-bar form{
  display:flex;
  align-items: center;
}

.search-bar img{
  height: 1.3rem;
  width: auto;
  padding: 0 0.8rem 0 0.5rem;
}

.search-bar img:hover{
  cursor:pointer;
}

.search-bar #search_name{
  appearance:none;
  background-color: rgb(231, 231, 231);
  height: 1.8rem;
  border-radius: 1rem;
  border:none;
  flex: 1;
  margin-right: 3rem;
  padding-left: 1rem;
}

.main-profile{
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  align-items: center;
 padding-left: 2rem;
}

.main-profile .profile-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}
.main-profile #main-name{
  font-size: 1.5rem;
}

.main-profile img{
  height: 5rem;
  width: auto;
  border:none;
  border-radius: 5rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.main-profile img:hover{
  cursor: initial;
}


.account{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4rem;
  position: relative;

}

.account button > img{
  height: 3.5rem;
  width: 3.5rem;
}

.account button{
  border:none;
  border-radius: 3.5rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.account > img{
  height: 1.6rem;
  padding-right: 2rem;
  transition: all 0.2s ease-out;
  transform-origin: center center;
}

.account > img:hover{
  transform: scale(1.15);
  cursor: pointer;
}

.account .dropdown{
  display:flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.account .dropdown-toggle {
  background: none;
  padding: 0;
  border: none;
  border-radius: 2.5rem;
  cursor: pointer;
}

.account .dropdown-toggle:focus{
  outline: 2px solid #00497a;
}

.account .dropdown-menu {
  display: none;
  position: absolute;
  left: 100%; /* Position to the left of the logo */
  top: 0%;
  background: white;
  /* border: 1px solid #ccc; */
  border: none;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  padding: 0.5rem;
  border-radius: 1rem;
  z-index: 100;
  margin-left: 3px;
}

.account .dropdown-menu a {
  display: block;
  padding: 8px;
  color: #333;
  text-decoration: none;
}

.account .dropdown-menu a:hover {
  background: #f0f0f0;
}

.home-buttons{
  /* align-self:self-end; */
  display: flex;
  justify-content:flex-end;
  padding-top: 20px;
  padding-right: 15%;
}

.home-buttons > button{
  appearance: none;
  background-color:#ffffff;
  border:2px solid #1866a5;
  color: rgb(12, 56, 117);
  /* line-height: 1.8rem; */
  font-size: 1rem;
  height: 2.1rem;
  width: 6rem;
  border-radius: 6rem;
  font-weight: 700;
  margin-left: 2rem;
  cursor: pointer;
  transition: background-color 0.15s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-buttons > button:hover {
  background-color: rgb(12, 56, 117);
  color: white;
}

.home-buttons > button:active {
  transform: scale(0.97);
  /* transform: translateY(2px); */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgb(15, 68, 141);
}


.projects{
    grid-area: body;
    background-color: rgb(206, 206, 206);
    display: grid;
    /* grid-template-columns: minmax(350px, 1fr) 350px; */
    grid-template-columns:3fr minmax(50vh,0.8fr);
    height: 100%;
    gap: 1rem;
}

.title{
    padding: 1.5rem 0 0 1rem;
}

.projects .main-body>.main-body-container{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px,0.8fr)); */
    grid-template-columns:repeat(auto-fill, minmax(50vh,0.8fr));
    grid-auto-rows: 200px;
    gap: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.dummy-project{
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
    position: relative;
    background: #fff;
    box-shadow: 2px 3px 5px rgb(0, 0, 0, 0.2);
}

.dummy-project::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width:  0.5rem;
  height: 100%;
  background-color: #2195f3;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.action{
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-auto-flow: column;
  position: absolute;
  bottom:1rem;
  right: 0;
}

.dummy-project img{
  width: 25px;
  height: 25px;
  transition: all 0.2s ease-out;
}

.dummy-project img:hover{
  transform: scale(1.15);
  cursor: pointer;
}

.sidebar{
    background-color: rgb(206, 206, 206);
    position: sticky;
    top: 0;
    align-self: start;
    height: 100vh;
    padding-bottom: 1rem;
    font-size: 0.8rem;
}

.sidebar-container{
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-around;
  margin: 0 2rem 0 0;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: inherit;
  box-shadow: 2px 3px 5px rgb(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
}

.sidebar-container > .post:not(:last-child){
  border-bottom: 1px solid #ccc;
}

.post{
  padding: 0.5rem;
  font-size: inherit;
  font-weight: 600;
}

.summary{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Change number of lines as needed */
  overflow: hidden;
  font-size: 0.8em;
  margin-bottom: 0.8em;
  font-weight: initial;
}

.trending{
  padding: 0 0 0 1rem;
}

.trend-name{
  display: grid;
  padding:1rem 0 0 1rem;
  font-size: inherit;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: 1fr 4fr 1fr 2fr;
  grid-auto-rows: 1fr;
}

.trend-name .like{
  height: 1.2rem;
  width: auto;
  padding-left: 0.5rem;
}

.trend-name .profile{
  height: 1.8rem;
  width: auto;
  margin-right: 1rem;
}

.trend-name .nameID{
  display: flex;
  flex-direction: column;
}

.trend-project{
  font-size: 0.8em;
  color: rgb(80, 80, 80);
}

.last{
  padding-bottom: 1rem;
}
